.search-block {
  width: 400px;
  padding: 40px; }
  .search-block input {
    width: 100%;
    padding: 10px;
    border: none; }
  .search-block ul {
    margin: 0;
    padding: 0;
    width: 420px;
    background: #fff;
    position: absolute;
    max-height: 130px;
    overflow-y: auto;
    border: 0;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.2);
    list-style-type: none;
    z-index: 9999; }
    .search-block ul li {
      padding: 15px;
      font-size: 15px;
      display: flex; }
      .search-block ul li img {
        width: 25px;
        height: 25px; }
      .search-block ul li span {
        margin: 5px 20px; }
      .search-block ul li:hover {
        background-color: #f6f6f6; }

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  margin: 0;
  font-size: 18px; }

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAic3R5bGUuY3NzIiwKCSJzb3VyY2VzIjogWwoJCSJzdHlsZS5zY3NzIiwKCQkic2VhcmNoLnNjc3MiLAoJCSJ2YXJzLnNjc3MiCgldLAoJIm5hbWVzIjogW10sCgkibWFwcGluZ3MiOiAiQUNNQSxBQUFBLGFBQWEsQ0FBQztFQUNaLEtBQUssRUFBRSxLQUFLO0VBQ1osT0FBTyxFQUFFLElBQUksR0F3Q2Q7RUExQ0QsQUFJRSxhQUpXLENBSVgsS0FBSyxDQUFDO0lBQ0osS0FBSyxFQUFFLElBQUk7SUFDWCxPQUFPLEVBQUUsSUFBSTtJQUNiLE1BQU0sRUFBRSxJQUFJLEdBQ2I7RUFSSCxBQVVFLGFBVlcsQ0FVWCxFQUFFLENBQUM7SUFDRCxNQUFNLEVBQUUsQ0FBQztJQUNULE9BQU8sRUFBRSxDQUFDO0lBQ1YsS0FBSyxFQUFFLEtBQUs7SUFDWixVQUFVLEVBQUUsSUFBSTtJQUNoQixRQUFRLEVBQUUsUUFBUTtJQUNsQixVQUFVLEVBQUUsS0FBSztJQUNqQixVQUFVLEVBQUUsSUFBSTtJQUNoQixNQUFNLEVBQUUsQ0FBQztJQUNULFVBQVUsRUFBRSxDQUFDLENBQUMsR0FBRyxDQUFDLEdBQUcsQ0FBQyxDQUFDLENBQUMscUJBQXFCO0lBQzdDLGVBQWUsRUFBRSxJQUFJO0lBQ3JCLE9BQU8sRUFBRSxJQUFJLEdBb0JkO0lBekNILEFBdUJJLGFBdkJTLENBVVgsRUFBRSxDQWFBLEVBQUUsQ0FBQztNQUNELE9BQU8sRUFBRSxJQUFJO01BQ2IsU0FBUyxFQUFFLElBQUk7TUFDZixPQUFPLEVBQUUsSUFBSSxHQWFkO01BdkNMLEFBNEJNLGFBNUJPLENBVVgsRUFBRSxDQWFBLEVBQUUsQ0FLQSxHQUFHLENBQUM7UUFqQ1IsS0FBSyxFQUFFLElBQUk7UUFDWCxNQUFNLEVBQUUsSUFBSSxHQWtDUDtNQTlCUCxBQWdDTSxhQWhDTyxDQVVYLEVBQUUsQ0FhQSxFQUFFLENBU0EsSUFBSSxDQUFDO1FBQ0gsTUFBTSxFQUFFLFFBQVEsR0FDakI7TUFsQ1AsQUFvQ00sYUFwQ08sQ0FVWCxFQUFFLENBYUEsRUFBRSxBQWFDLE1BQU0sQ0FBQztRQUNOLGdCQUFnQixFQUFFLE9BQU8sR0FDMUI7O0FEekNQLEFBQUEsSUFBSSxDQUFDO0VBQ0gsV0FBVyxFQUFFLG9CQUFvQjtFQUNqQyxnQkFBZ0IsRUFBRSxPQUFPO0VBQ3pCLE1BQU0sRUFBRSxDQUFDO0VBQ1QsT0FBTyxFQUFFLENBQUMsR0FDWDs7QUFFRCxBQUFBLElBQUksRUFBRSxJQUFJLENBQUM7RUFDVCxNQUFNLEVBQUUsSUFBSSxHQUNiOztBQUVELEFBQUEsSUFBSSxDQUFDO0VBQ0gsTUFBTSxFQUFFLENBQUM7RUFDVCxTQUFTLEVBQUUsSUFBSSxHQUNoQiIKfQ== */