$blue: #2e58ff;

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
}

.main {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  padding: 15px;

  .col-image {
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-info {
    -webkit-box-flex: 0;
    flex: auto;
    max-width: 80%;
    padding: 30px;

    h1 {
      font-size: 45px;
    }

    p {
      font-size: 20px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        display: inline;

        a {
          color: $blue;
        }
      }
    }
  }
}

.avatar {
  border: 10px solid $blue;
  border-radius: 50px;
  padding: 15px;
  max-width: 80%;
  height: auto;
}