body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  margin: 0;
  font-size: 18px; }

.container {
  max-width: 1140px; }

.w-100 {
  width: 100%; }

.w-50 {
  width: 50%; }

header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #e2e2e2;
  height: max-content; }
  header .container {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between; }
    header .container .row {
      background-color: #50545d;
      align-items: center;
      padding: 30px; }
  header h1 {
    color: white; }
  header span {
    color: white;
    text-align: right; }

.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 1140px; }

article {
  display: flex;
  justify-content: center;
  width: 100%;
  height: max-content; }
  article .container {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: white; }
    article .container .row {
      background-color: white;
      align-items: center; }
  article h1 {
    text-transform: uppercase;
    color: #50545d;
    font-size: 40px;
    padding: 0 30px;
    margin: 0; }
  article p {
    padding: 0 30px; }

.work-image {
  padding: 30px; }
  .work-image img {
    width: 100%; }

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAic3R5bGUuY3NzIiwKCSJzb3VyY2VzIjogWwoJCSJzdHlsZS5zY3NzIgoJXSwKCSJuYW1lcyI6IFtdLAoJIm1hcHBpbmdzIjogIkFBVUEsQUFBQSxJQUFJLENBQUM7RUFDSCxXQUFXLEVBQUUsb0JBQW9CO0VBQ2pDLGdCQUFnQixFQUFFLE9BQU87RUFDekIsTUFBTSxFQUFFLENBQUM7RUFDVCxPQUFPLEVBQUUsQ0FBQyxHQUNYOztBQUVELEFBQUEsSUFBSSxFQUFFLElBQUksQ0FBQztFQUNULE1BQU0sRUFBRSxJQUFJLEdBQ2I7O0FBQ0QsQUFBQSxJQUFJLENBQUM7RUFDSCxNQUFNLEVBQUUsQ0FBQztFQUNULFNBQVMsRUFBRSxJQUFJLEdBQ2hCOztBQUVELEFBQUEsVUFBVSxDQUFDO0VBQ1QsU0FBUyxFQUFFLE1BQU0sR0FDbEI7O0FBRUQsQUFBQSxNQUFNLENBQUM7RUFDTCxLQUFLLEVBQUUsSUFBSSxHQUNaOztBQUVELEFBQUEsS0FBSyxDQUFDO0VBQ0osS0FBSyxFQUFFLEdBQUcsR0FDWDs7QUFFRCxBQUFBLE1BQU0sQ0FBQztFQUNMLE9BQU8sRUFBRSxJQUFJO0VBQ2IsZUFBZSxFQUFFLE1BQU07RUFDdkIsS0FBSyxFQUFFLElBQUk7RUFDWCxnQkFBZ0IsRUFBRSxPQUFPO0VBQ3pCLE1BQU0sRUFBRSxXQUFXLEdBMEJwQjtFQS9CRCxBQU9FLE1BUEksQ0FPSixVQUFVLENBQUM7SUFDVCxPQUFPLEVBQUUsV0FBVztJQUNwQixPQUFPLEVBQUUsSUFBSTtJQUNiLFNBQVMsRUFBRSxJQUFJO0lBQ2YsaUJBQWlCLEVBQUUsTUFBTTtJQUN6QixXQUFXLEVBQUUsTUFBTTtJQUNuQixnQkFBZ0IsRUFBRSxPQUFPO0lBQ3pCLGVBQWUsRUFBRSxhQUFhLEdBTy9CO0lBckJILEFBZ0JJLE1BaEJFLENBT0osVUFBVSxDQVNSLElBQUksQ0FBQztNQUNILGdCQUFnQixFQXREZixPQUFPO01BdURSLFdBQVcsRUFBRSxNQUFNO01BQ25CLE9BQU8sRUFBRSxJQUFJLEdBQ2Q7RUFwQkwsQUF1QkUsTUF2QkksQ0F1QkosRUFBRSxDQUFDO0lBQ0QsS0FBSyxFQUFFLEtBQUssR0FDYjtFQXpCSCxBQTJCRSxNQTNCSSxDQTJCSixJQUFJLENBQUM7SUFDSCxLQUFLLEVBQUUsS0FBSztJQUNaLFVBQVUsRUFBRSxLQUFLLEdBQ2xCOztBQUdILEFBQUEsSUFBSSxDQUFDO0VBQ0gsT0FBTyxFQUFFLFdBQVc7RUFDcEIsT0FBTyxFQUFFLElBQUk7RUFDYixTQUFTLEVBQUUsSUFBSTtFQUNmLEtBQUssRUFBRSxNQUFNLEdBQ2Q7O0FBR0QsQUFBQSxPQUFPLENBQUM7RUFDTixPQUFPLEVBQUUsSUFBSTtFQUNiLGVBQWUsRUFBRSxNQUFNO0VBQ3ZCLEtBQUssRUFBRSxJQUFJO0VBRVgsTUFBTSxFQUFFLFdBQVcsR0E2QnBCO0VBbENELEFBT0UsT0FQSyxDQU9MLFVBQVUsQ0FBQztJQUNULE9BQU8sRUFBRSxXQUFXO0lBQ3BCLE9BQU8sRUFBRSxJQUFJO0lBQ2IsU0FBUyxFQUFFLElBQUk7SUFDZixpQkFBaUIsRUFBRSxNQUFNO0lBQ3pCLFdBQVcsRUFBRSxNQUFNO0lBQ25CLGdCQUFnQixFQUFFLE9BQU87SUFDekIsZUFBZSxFQUFFLGFBQWE7SUFDOUIsZ0JBQWdCLEVBQUUsS0FBSyxHQU14QjtJQXJCSCxBQWlCSSxPQWpCRyxDQU9MLFVBQVUsQ0FVUixJQUFJLENBQUM7TUFDSCxnQkFBZ0IsRUFBRSxLQUFLO01BQ3ZCLFdBQVcsRUFBRSxNQUFNLEdBQ3BCO0VBcEJMLEFBdUJFLE9BdkJLLENBdUJMLEVBQUUsQ0FBQztJQUNELGNBQWMsRUFBRSxTQUFTO0lBQ3pCLEtBQUssRUF2R0YsT0FBTztJQXdHVixTQUFTLEVBQUUsSUFBSTtJQUNmLE9BQU8sRUFBRSxNQUFNO0lBQ2YsTUFBTSxFQUFFLENBQUMsR0FDVjtFQTdCSCxBQStCRSxPQS9CSyxDQStCTCxDQUFDLENBQUM7SUFDQSxPQUFPLEVBQUUsTUFBTSxHQUNoQjs7QUFHSCxBQUFBLFdBQVcsQ0FBQztFQUNWLE9BQU8sRUFBRSxJQUFJLEdBS2Q7RUFORCxBQUdFLFdBSFMsQ0FHVCxHQUFHLENBQUM7SUFDRixLQUFLLEVBQUUsSUFBSSxHQUNaIgp9 */